.Clock {
	display: flex;
	flex-direction: column;
	gap: 10px;

	text-align: center;
	font-family: "Poppins", sans-serif;

	&.Loading .Main,
	&.Loading .Or,
	&.Loading .Days,
	&.Loading .Wage {
		//filter: brightness(50%);
	}


	.Title {
		font-family: "Quicksand", sans-serif;
		font-size: 20px;
		color: var(--text-secondary);
	}

	.Main {
		font-size: 40px;
		color: var(--text-primary);
	}

	.Or {
		font-size: 20px;
		color: var(--text-secondary);
	}

	.Days {
		font-size: 30px;
		color: var(--text-primary);
	}

	.Wage {
		font-size: 15px;
		color: var(--icon-primary);
	}


	.Share {
		margin: 0 auto 0;
		padding: 1px 10px;
		color: var(--text-secondary);
		user-select: none;
		cursor: pointer;
		transition: color ease .2s;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: fit-content;
		border-radius: 10px;
		border: var(--background-border) 1px solid;
		background: var(--background-border);

		&:hover {
			color: var(--icon-primary);
		}
	}
}