.ListWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .ListGroup {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &:first-of-type {
      margin-top: -16px;
    }

    .List {
      animation: list-fadein ease-out .5s;
      @keyframes list-fadein {
        from {
          transform: translateY(-8px);
        }
      }
    }

    &.Hidden {
      .List {
        display: none;
      }

      .ListLabel svg:last-of-type {
        transform: rotate(180deg);
      }
    }

    .ListLabel {
      font-size: 15px;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      letter-spacing: .1em;
      color: var(--text-secondary);
      user-select: none;
      cursor: pointer;

      svg {
        font-size: .9em;
      }

      svg:first-of-type {
        color: var(--icon-primary);
        margin: 0 5px;
        background: var(--background-border);
      }

      svg:last-of-type {
        transition: transform ease .25s;
      }
    }
  }
}

.List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  min-height: 300px;

  // used for grid layout
  --height: 200px;
  --width: #{200px * 2 / 3};
  @media (max-width: 1000px) {
    --height: 175px;
    --width: #{175px * 2 / 3};
  }
  @media (max-width: 500px) {
    --height: 150px;
    --width: #{150px * 2 / 3};
  }
  @media (max-width: 400px) {
    --height: 140px;
    --width: #{140px * 2 / 3};
  }

  @for $i from 1 through 7 {
    @media (min-width: #{400px + 230px*($i - 1)}) and (max-width: #{400px + 230px*$i}) {
      &:has(:nth-child(#{3+$i})) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--width), auto));
        justify-content: space-between;
      }
    }
  }
  @media (min-width: #{400px + 230px*(8 - 1)}) {
    &:has(:nth-child(#{3+8})) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(var(--width), auto));
      justify-content: space-between;
    }
  }

  @media (max-width: 500px) {
    gap: 15px;
    justify-content: space-between;
  }
  @media (max-width: 300px) {
    justify-content: center;
  }

  .Item {
    aspect-ratio: 2 / 3;
    width: auto;
    transition: all .25s;
    cursor: pointer;
    background: var(--background-border);
    border-radius: 10px;
    height: var(--height);

    &:hover {
      transform: scale(1.025);
      filter: brightness(90%);
    }

    img {
      aspect-ratio: inherit;
      border-radius: 10px;
      height: 100%;
      width: auto;
    }
  }

  .Empty {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    color: var(--text-secondary);
    font-size: 16px;

    .Badge, .Text {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .Badge {
      @media (max-width: 600px) {
        flex-direction: column;
        gap: 10px;
      }
    }

    .Text {
      font-size: 20px;
      max-width: 400px;
      gap: 30px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      text-align: left;

      @media (max-width: 500px) {
        font-size: 18px;
        flex-direction: column;
        text-align: center;
        gap: 10px;
      }
      @media (max-width: 400px) {
        font-size: 16px;
      }

      div {
        margin-right: 20px;
      }

      svg {
        font-size: 40px;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, .15));

        @media (max-width: 400px) {
          font-size: 30px;
        }

        animation: hourglass-rotate infinite 4s cubic-bezier(0.280, 0.840, 0.420, 1);
        animation-delay: 250ms;

        @keyframes hourglass-rotate {
          0% {
            transform: rotate(0deg);
          }
          50% {
            transform: rotate(180deg);
          }
          0% {
            transform: rotate(360deg);
          }
        }
      }
    }

    .Button {
      gap: 10px;
      padding: 5px 45px;
      color: var(--action-success);
      border: var(--action-success-background) 2px solid;
      border-radius: 20px;
      text-transform: lowercase;
      font-weight: 300;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      user-select: none;
      cursor: pointer;
      transition: background .25s ease;

      &:hover {
        background: var(--action-success-background);
      }

      @media (max-width: 400px) {
        font-size: 14px;
        padding: 5px 30px;
      }
    }
  }
}