.List {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin: 0 5%;
	min-height: 300px;

	@media (max-width: 500px) {
		gap: 15px;
	}

	.Item {
		height: 200px;
		aspect-ratio: 2 / 3;
		width: auto;
		transition: all .25s;
		cursor: pointer;

		@media (max-width: 1000px) {
			height: 175px;
		}
		@media (max-width: 500px) {
			height: 150px;
		}
		@media (max-width: 400px) {
			height: 140px;
		}

		&:hover {
			transform: scale(1.025);
			filter: brightness(90%);
		}

		&.Unavailable {
			filter: brightness(40%);
		}

		img {
			height: 100%;
			width: auto;
			border-radius: 10px;
		}
	}
}