.MenuContainer {
	position: fixed;
	width: 100%;
	height: 100dvh;
	display: grid;
	place-items: center;
	background: rgba(0, 0, 0, .5);

	z-index: 1;
}

.Menu {
	background: var(--background-popup);
	padding: 25px 65px;
	width: 60%;
	max-height: 70%;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media (max-width: 650px) {
		width: 90%;
		max-height: 82%;
		padding: 20px 25px;
		box-sizing: border-box;
	}

	.Head {
		display: flex;
		gap: 20px;

		.Poster {
			height: 150px;
			width: 108px;
			border-radius: 10px;

			@media (max-width: 650px) {
				height: 125px;
				width: 90px;
			}

			transition: all .3s;

			&:hover {
				transform: scale(1.025);
				filter: brightness(90%);
			}
		}

		.Info {
			display: flex;
			flex-direction: column;
			margin: auto 0;

			.Name {
				color: var(--text-primary);
				font-size: 28px;
				font-family: "Poppins", sans-serif;

				@media (max-width: 650px) {
					font-size: 24px;
				}
				@media (max-width: 400px) {
					font-size: 20px;
				}
			}

			.OriginalName {
				color: var(--text-secondary);
				font-size: 16px;
				font-family: "Quicksand", sans-serif;
				font-weight: 400;

				@media (max-width: 400px) {
					font-size: 14px;
				}
			}

			.Year {
				margin-top: 10px;;
				color: var(--text-secondary);
				font-size: 16px;
				font-family: "Poppins", sans-serif;
				font-weight: 400;

				@media (max-width: 400px) {
					font-size: 14px;
				}
			}
		}
	}

	.History {
		overflow-y: scroll;
		max-height: 55%;

		.Title {
			font-family: "Poppins", sans-serif;
			font-size: 18px;
			color: var(--text-primary);
		}

		.Seasons {
			display: flex;
			flex-direction: column;
			gap: 2px;

			.Season {
				font-family: "Poppins", sans-serif;
				font-size: 16px;
				font-weight: 300;
				color: var(--text-secondary);

				display: flex;
				justify-content: space-between;

				.SeasonStats {
					display: flex;
					gap: 8px;
					flex-wrap: wrap;

					.Name {
						font-weight: 400;
					}
					.Episodes {
						&::before {
							content: "•";
							margin-right: 8px;
						}
						&::after {
							content: " Episodes";
						}
						@media (max-width: 500px) {
							display: none;
						}
					}

					.Runtime {
						&::before {
							content: "•";
							margin-right: 8px;
						}
					}
				}

				.Controls {
					display: flex;
					align-items: center;
					gap: 8px;
					margin-right: 2.5%;
					user-select: none;

					.Plus, .Minus {
						display: flex;
						color: var(--text-primary);
						padding: 5px;
						border-radius: 50%;
						background: var(--background-popup-secondary);
						cursor: pointer;

						svg {
							margin: auto;
							width: 12px;
							height: 12px;
						}
					}

					.Display {
						font-weight: 500;
					}

				}
			}
		}
	}

	.Buttons {
		display: flex;
		gap: 15px;
		justify-content: center;
		margin-top: auto;

		@media (max-width: 400px) {
			gap: 7px;
		}

		.Button {
			padding: 4px 10px;
			border-radius: 4px;
			font-family: "Poppins", sans-serif;
			font-size: 16px;
			color: var(--text-primary);
			user-select: none;
			cursor: pointer;
			background: var(--background-popup-secondary);
			display: flex;
			align-items: center;
			gap: 5px;

			@media (max-width: 650px) {
				font-size: 14px;
			}

			&.Save {
				background: var(--action-success);
			}

			&.Remove {
				background: var(--action-fail);
			}
		}


	}
}