
.Menu {

	.Head {
		display: flex;
		gap: 20px;

		.Poster {
			height: 150px;
			width: 108px;
			border-radius: 10px;

			@media (max-width: 650px) {
				height: 125px;
				width: 90px;
			}

			transition: all .3s;

			&:hover {
				transform: scale(1.025);
				filter: brightness(90%);
			}
		}

		.Info {
			display: flex;
			flex-direction: column;
			margin: auto 0;

			.Name {
				color: var(--text-primary);
				font-size: 28px;
				font-family: "Poppins", sans-serif;
				display: inline-flex;
				align-items: center;
				gap: 15px;

				svg {
					color: var(--icon-primary);
				}

				@media (max-width: 650px) {
					font-size: 24px;
				}
				@media (max-width: 400px) {
					font-size: 20px;
				}
			}

			.OriginalName {
				color: var(--text-secondary);
				font-size: 16px;
				font-family: "Quicksand", sans-serif;
				font-weight: 400;

				@media (max-width: 400px) {
					font-size: 14px;
				}
			}

			.Year {
				margin-top: 10px;;
				color: var(--text-secondary);
				font-size: 16px;
				font-family: "Poppins", sans-serif;
				font-weight: 400;

				@media (max-width: 400px) {
					font-size: 14px;
				}
			}

			.Playtime {
				color: var(--text-secondary);
				font-size: 16px;
				font-family: "Poppins", sans-serif;
				font-weight: 300;
				display: flex;
				gap: 6px;
				align-items: center;
				margin: auto 0;

				@media (max-width: 400px) {
					font-size: 14px;
				}
			}
		}
	}

	.History {
		overflow-y: scroll;
		max-height: 55%;

		.Title {
			font-family: "Poppins", sans-serif;
			font-size: 18px;
			color: var(--text-primary);
		}

		.Seasons {
			display: flex;
			flex-direction: column;
			gap: 2px;

			.Season {
				font-family: "Poppins", sans-serif;
				font-size: 16px;
				font-weight: 300;
				color: var(--text-secondary);

				display: flex;
				justify-content: space-between;

				.SeasonStats {
					display: flex;
					gap: 8px;
					flex-wrap: wrap;

					.Name {
						font-weight: 400;
					}

					.Episodes {
						&::before {
							content: "•";
							margin-right: 8px;
						}

						&::after {
							content: " Episodes";
						}

						@media (max-width: 500px) {
							display: none;
						}
					}

					.Runtime {
						&::before {
							content: "•";
							margin-right: 8px;
						}

						@media (max-width: 360px) {
							display: none;
						}
					}

				}

				.Controls {
					display: flex;
					align-items: center;
					gap: 5px;
					margin-right: 2.5%;
					user-select: none;

					.Plus, .Minus {
						display: flex;
						color: var(--text-primary);
						padding: 5px;
						border-radius: 50%;
						background: var(--background-popup-secondary);
						cursor: pointer;

						svg {
							margin: auto;
							width: 12px;
							height: 12px;
						}
					}

					.Display {
						font-weight: 500;
						min-width: 1.5rem;
						text-align: center;
					}

				}
			}
		}
	}

	.Buttons {
		display: flex;
		gap: 15px;
		justify-content: center;
		margin-top: auto;

		@media (max-width: 400px) {
			gap: 7px;
		}

		.Button {
			padding: 4px 10px;
			border-radius: 4px;
			font-family: "Poppins", sans-serif;
			font-size: 16px;
			color: var(--text-primary);
			user-select: none;
			cursor: pointer;
			background: var(--background-popup-secondary);
			display: flex;
			align-items: center;
			gap: 5px;

			@media (max-width: 650px) {
				font-size: 14px;
			}

			transition: transform .25s ease,
			filter .1s ease;

			&:hover {
				transform: translateY(2px);
				filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, .5));
			}

			&.Save {
				background: var(--action-success);
			}

			&.Remove {
				background: var(--action-fail);
			}
		}


	}
}