.NewClock {

  display: flex;
  justify-content: space-between;
  gap: 50px;

  @media (min-width: 1600px) {
    padding: 0 10px;
  }
  @media (max-width: 1600px) {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1px;

    .ClockFace, .InfoList {
      grid-column: 2;
    }
  }

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > * {
      box-sizing: border-box;
      max-width: calc(min(400px, 100%));
    }
  }

  .ClockFace {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    @media (max-width: 650px) {
      padding: 0 10px;
    }

    .Text {
      font-family: "Poppins", sans-serif;
      text-align: right;

      .Time {
        color: var(--text-primary);
        font-size: 36px;
        font-weight: 400;
        line-height: 1em;

        @media (max-width: 1200px) {
          font-size: 30px;
        }
        @media (max-width: 1100px) {
          font-size: 28px;
        }
        @media (max-width: 500px) {
          font-size: 26px;
        }
        @media (max-width: 400px) {
          font-size: 24px;
        }
      }

      .SubTime {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .Or {
          color: var(--icon-primary);
          font-size: 18px;

          @media (max-width: 1200px) {
            font-size: 16px;
          }
          @media (max-width: 1100px) {
            font-size: 14px;
          }
        }

        .Days {
          color: var(--text-primary);
          font-size: 30px;
          font-weight: 400;

          @media (max-width: 1200px) {
            font-size: 26px;
          }
          @media (max-width: 1000px) {
            font-size: 20px;
          }
          @media (max-width: 500px) {
            font-size: 18px;
          }
        }
      }

      .Year {
        margin-top: 5px;
        color: var(--text-secondary);
        font-weight: 500;

        @media (max-width: 1200px) {
          font-size: 14px;
        }
        @media (max-width: 500px) {
          font-size: 13px;
        }
      }

    }

    .Visual {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 10px;
      align-content: flex-start;

      @media (max-width: 650px) {
        gap: 8px;
      }
      @media (max-width: 500px) {
        gap: 7px;
      }

      div {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background: var(--background-popup-secondary);
        transition: background-color ease-in-out .33s;

        @media (max-width: 1200px) {
          width: 18px;
          height: 18px;
        }
        @media (max-width: 650px) {
          width: 16px;
          height: 16px;
        }
        @media (max-width: 500px) {
          width: 14px;
          height: 14px;
        }

        &.Filled {
          background: var(--text-primary);

          @for $i from 1 through 31 {
            &:nth-child(#{$i}) {
              transition-delay: #{$i * .1s};
            }
          }
        }

        @for $i from 0 through 2 {
          &:nth-child(#{29 + $i}) {
            grid-column-start: #{$i + 5};
            grid-row-start: 5;
          }
        }
      }
    }

  }

  .InfoList {
    font-family: "Poppins", sans-serif;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;

    @media (max-width: 650px) {
      padding: 0 10px;
    }

    .WageDisplay {
      display: flex;
      gap: 40px;
      justify-content: space-between;

      @media (max-width: 650px) {
        gap: 20px;
      }

      .Text {

        .WageEarned {
          font-size: 30px;

          @media (max-width: 650px) {
            font-size: 26px;
          }
          @media (max-width: 500px) {
            font-size: 24px;
          }
          @media (max-width: 400px) {
            font-size: 22px;
          }
        }

        .WageAmount {
          font-weight: 500;
          color: var(--text-secondary);
          font-size: 16px;
          user-select: none;
          cursor: pointer;

          @media (max-width: 650px) {
            font-size: 14px;
          }
          @media (max-width: 500px) {
            font-size: 13px;
          }

          transition: color ease .2s;

          &:hover {
            color: var(--icon-primary);
          }
        }
      }

      .Icons {
        display: flex;
        gap: 25px;
        align-items: center;

        svg {
          font-size: 45px;
          color: var(--icon-primary);

          @media (max-width: 650px) {
            font-size: 40px;
          }
          @media (max-width: 400px) {
            font-size: 35px;
          }
        }

        svg:nth-child(2) {
          font-size: 30px;
          color: var(--text-secondary);

          @media (max-width: 650px) {
            font-size: 25px;
          }
          @media (max-width: 400px) {
            font-size: 20px;
          }
        }

      }
    }

    .Infos {
      margin-top: 20px;
      display: inline-flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;

      .Entry {
        width: 100%;
        display: grid;
        align-items: flex-start;
        grid-template-columns: 40px minmax(auto, 1fr) 1fr;
        gap: 10px;

        p {
          width: max-content;
          font-size: 18px;

          @media (max-width: 500px) {
            font-size: 16px;
          }
        }

        svg {
          align-self: center;
          justify-self: center;
          font-size: 25px;
          color: var(--icon-primary);

          @media (max-width: 500px) {
            font-size: 22px;
          }
        }

        .Bar {
          align-self: center;
          height: 10px;
          min-width: 5px;
          background: var(--text-secondary);
          border-radius: 4px;
          transition: width 1s ease-out;
          animation: bar-fadein 1s ease-out;

          @keyframes bar-fadein {
            from {
              width: 0;
            }
          }
        }

        .Bars {
          align-self: center;
          display: grid;
          gap: 5px;

          :first-child {
            background: var(--icon-primary);
          }
        }

        span:first-of-type {
          width: max-content;

          p:first-child {
            font-size: 16px;
            line-height: 1em;
            @media (max-width: 500px) {
              font-size: 15px;
            }
          }

          p:last-child {
            font-size: 14px;
            color: var(--text-secondary);
            font-weight: 500;
            @media (max-width: 500px) {
              font-size: 13px;
            }
          }
        }
      }
    }

  }

}