

.App {
	background: var(--background);

	.Content {
		min-height: 100dvh;
		padding: 40px 0;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		gap: 50px;

		.Credits {
			margin-bottom: 0;
			margin-top: auto;
			bottom: 0;
			top: auto;
			text-align: center;
			color: var(--text-secondary);
			font-family: "Poppins", sans-serif;
			font-size: 16px;

			@media (max-width: 500px) {
				font-size: 15px;
			}

			a {
				color: var(--icon-primary);
				transition: color ease .1s;

				&:hover {
					color: var(--text-primary);
				}
			}
		}
	}

}