.App {
	background: var(--background);
	position: relative;

	.Content {
		min-height: 100vh;
		padding: 40px 0 0 0;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

}