.ContextMenu {
	position: relative;

	.ContextWindow {
		position: absolute;
		top: 70px;
		right: 10px;

		width: 200px;
		height: auto;
		border-radius: 20px;
		background: var(--background-border);

		font-family: "Poppins", sans-serif;

		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 10px 20px;

		hr {
			opacity: 50%;
			width: 80%;
			margin: auto;
		}

		.Button {
			display: flex;
			justify-content: flex-start;
			gap: 20px;
			padding: 0 0 0 20px;
			align-items: center;
			height: 40px;
			width: 90%;

			margin: auto;
			border-radius: 10px;

			cursor: pointer;
			user-select: none;

			transition: background-color ease .2s;

			&:hover {
				background: var(--background-popup-secondary);
			}

			color: var(--text-primary);

			.ButtonTitle {
				text-align: center;
			}

			&.Logout {
				color: var(--action-fail);

				&:hover {
					background: var(--action-fail-background);
				}
			}
		}

		.S9gUrf-YoZ4jf {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.SignedInAs {
			color: var(--text-secondary);
			font-size: 12px;
			text-align: center;
		}

		.UserName {
			color: var(--text-primary);
			font-size: 16px;
			text-align: center;
		}

		.LoggedOut {
			text-align: center;
			padding: 7px 0;

			svg {
				font-size: 20px;
				color: var(--action-fail-background);
			}

			p {
				color: var(--icon-primary);
			}
		}

		&:not(.Visible) {
			display: none;

			animation: context-fadeout .15s ease-in-out forwards;

			@keyframes context-fadeout {
				from {
					display: grid;
				}
				to {
					transform: translateY(-5px);
					display: none;
					opacity: 0;
				}
			}
		}

		&.Visible {
			animation: context-fadein .15s ease-in-out forwards;

			@keyframes context-fadein {
				from {
					transform: translateY(-5px);
					display: none;
					opacity: 0;
				}
				to {
					display: grid;
				}

			}
		}

	}

	.MainButton {
		position: absolute;

		right: 40px;
		top: 20px;

		@media (max-width: 600px) {
			right: 20px;
		}

		width: 40px;
		height: 40px;
		border-radius: 20px;
		background: var(--background-border);
		color: var(--icon-primary);
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;

		.ProfilePicture {
			width: 100%;
			height: 100%;
			border-radius: 20px;
		}
	}

}