body:has(.Modal.Visible) {
	overflow: hidden;
}

.Modal {
	&:not(.Visible) {
		display: none;
		animation: modal-fadeout-wrapper .15s ease-out forwards;

		.AnimatedModalContent {
			animation: modal-fadeout .25s ease-out;
		}

		@keyframes modal-fadeout-wrapper {
			from {
				display: grid;
			}
			to {
				display: none;
				opacity: 0;
			}
		}

		@keyframes modal-fadeout {
			to {
				transform: scale(.9);
				opacity: 0;
			}
		}
	}

	&.Visible {
		.AnimatedModalContent {
			animation: modal-fadein .3s ease-out;
		}

		@keyframes modal-fadein {
			from {
				transform: scale(.95) rotate(3deg);
				opacity: 0;
			}
			25% {
				opacity: 1;
			}
			75% {
				transform: scale(1.025) rotate(-1deg);
			}
		}
	}

	position: fixed;
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	background: rgba(0, 0, 0, .5);

	z-index: 1;

	.DefaultModalContent {
		background: var(--background-popup);
		padding: 25px 65px;
		width: 55%;
		max-height: 70%;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		overflow: hidden;

		@media (max-width: 650px) {
			width: 90%;
			max-height: 82%;
			padding: 20px 25px;
			box-sizing: border-box;
		}
	}
}