.ResetModal {
	width: 25% !important;
	gap: 30px !important;

	@media (max-width: 1500px) {
		width: 30% !important;
	}
	@media (max-width: 1200px) {
		width: 35% !important;
	}
	@media (max-width: 1000px) {
		width: 40% !important;
	}
	@media (max-width: 900px) {
		width: 45% !important;
	}
	@media (max-width: 800px) {
		width: 55% !important;
	}
	@media (max-width: 700px) {
		width: 60% !important;
	}
	@media (max-width: 650px) {
		width: 90% !important;
	}

	.Icon {
		font-size: 80px;
		color: var(--action-fail);
		filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, .25));
		margin-bottom: -20px;
	}

	.ModalTitle {
		font-size: 30px;
		text-align: center;
		color: var(--action-fail);
		font-family: "Poppins", sans-serif;
	}

	.Explanation {
		white-space: pre-line;
		text-align: center;
		color: var(--text-secondary);
		font-family: "Open Sans", sans-serif;
		font-size: 17px;
		margin-top: -20px;
	}


}