.ResetModal {

	.Icon {
		font-size: 80px;
		color: var(--action-fail);
		filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, .25));
		margin-bottom: -20px;
	}

	.ModalTitle {
		font-size: 30px;
		text-align: center;
		color: var(--action-fail);
		font-family: "Poppins", sans-serif;
	}

	.Explanation {
		white-space: pre-line;
		text-align: center;
		color: var(--text-secondary);
		font-family: "Poppins", sans-serif;
		font-size: 17px;
		margin-top: -20px;
	}


}